#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: darkblue;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: red;
}
.book, .join{
    background-color: blueviolet;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}
.book:hover, .join:hover{
    background-color: aquamarine;
    color: black;
}
#background{
    background-color: aqua;
}
.msg{
    background-color: bisque;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: bisque;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}


.home-title{
    color: teal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.msg h2{
    color: navy;
    font-family: 'Courier New', Courier, monospace;
}
.msg p{
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0,8em;
    padding-bottom: 15px;

}

footer a{
    color: black;
    text-decoration: none;

}
footer a:hover{
    color: red;
}
.logo {
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero.img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
} 
#logo_link {
    padding-top: 5px;
}  
footer.social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img{
    border: 10px solid aqua;
}
main section img{
    box-sizing: border-box;
}