@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@300&family=Rock+Salt&display=swap');


body {
    font-family: Roboto, Rock Salt, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Roboto, Rock Salt, sans-serif;
    padding: 35px;
}

nav a:hover {
    background-color: #4c6085 ;
    color: white;
}

header{
    background-color:   #36f1cd ;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo, .icon{
    width: 80px;
}







main {
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.text {
    flex-basis: 60%;
    font-size: 22px;
}

.text h1 {
    color: #333;
    font-family: "Playfair Display";
    text-align: center;

}

.text p {
    color: #555;
    line-height: 1.6;
}

.image {
    flex-basis: 35%;
}

.image img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}


footer {
    background-color: #36f1cd;
    color: black;
    font-size: 1.2em;
    font-family: Roboto, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .container {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .text {
        margin-top: 0;
    }
    
    h1 {
        font-size: 25px;
        color: #6f7364;
    }
    .image { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }
}
