@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@300&family=Rock+Salt&display=swap');


body {
    font-family: Roboto, Rock Salt, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Roboto, Rock Salt, sans-serif;
    padding: 35px;
    font-size: 20px;
}

nav a:hover {
    background-color: #4c6085 ;
    color: white;
}

header{
    background-color:   #36f1cd ;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo, .icon{
    width: 80px;
}







main {
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.text {
    flex-basis: 60%;
    font-size: 22px;
}

.text h1 {
    color: #333;
    font-family: "Playfair Display";
    text-align: center;

}

.text p {
    color: #555;
    line-height: 1.6;
}

.image {
    flex-basis: 35%;
}

.image img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}


footer {
    background-color: #36f1cd;
    color: black;
    font-size: 1.2em;
    font-family: Roboto, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .container {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .text {
        margin-top: 0;
    }
    
    h1 {
        font-size: 25px;
        color: #6f7364;
    }
    .image { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }
}


h1 {
    font-family: "Playfair Display";
    text-align: center;
}

.project1 {
    background-color: #4c6085;
    display: flex;
    width: 80%;
    margin: auto;
}
.Rafting-text{
    padding: 20px;
    font-size: 20px;
}
.Rafting-text h2{
    font-family: "Playfair Display";
    text-align: center;
}

.Rafting-img img {
    height: 100%;
    width: 500px;
    
}

.Rafting-text a {
    color: white;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 140, 186, 0.8);
}

.Rafting-img:hover .overlay1 {
    opacity: 1;
}

.text3 {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.project2{
    background-color: #4c6085;
    display: flex;
    width: 80%;
    margin: 50px auto;
}

.skills-text{
    padding: 20px;
}

.skills-text h2{
    font-family: "Playfair Display";
    text-align: center;
}

.skills-img img{
    height: 100%;
    width: 500px;
    
    
}

.Rafting-img, .skills-img{
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 140, 186, 0.8);
}

.skills-img:hover .overlay {
    opacity: 1;
}

.text2 {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/* contact me style*/
.main-contactme {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 50px;
    
}

.contact-text{
    grid-column: 1/2;
    grid-row: 1/1;
    padding: 20px;
    text-align: center;
}

.send-message{
    grid-column: 2/3;
    grid-row: 1/1;
    z-index: 1;
    color: black;
    padding: 20px;
}

.section-img{
    grid-column: 2/3;
    grid-row: 1/1;
    
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 5%;
}
.h2-section{
    text-align: center;
    font-family: "Playfair Display";
    font-size: 2em;

}

.section-form{
    margin-top: 50px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    
}

label {
    margin: 10px 0;
    color: black;

}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}


